.colorCell {
  width: 100%;
  display: flex;
  align-items: center;

  & > .colorInput {
  }

  & > .colorTextInput {
    margin-bottom: 0;
    width: unset;
    margin-left: 16px;
    flex-grow: 1;
  }
}
