.avatarWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  margin: 0 auto 32px;
  overflow: hidden;

  &:hover {
    & > .uploadImageIconWrapper {
      display: flex;
    }
  }

  & > .uploadImageIconWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 120, 120, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;

    & > .uploadImageIcon {
      width: 40%;
      height: 40%;
      fill: #fff;
    }
  }

  & > .avatarFallback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: #242424;
  }

  & > .fileInput {
    display: none;
  }
}

.button {
  margin-top: 16px;
  margin-bottom: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
