.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.6;
  margin-bottom: 16px;
  padding: 10px 16px; 
}