.checkStatus {
  display: flex;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);

  & > svg {
    width: 18px;
    height: 18px;

    &.refresh {
      animation: spin 1.6s infinite ease;
      fill: #333;
    }

    &.check {
      fill: #009b22;
    }

    &.close {
      fill: var(--red);
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
