.links {
  & > .link {
    display: flex;
    background-color: #fff;
    margin-bottom: 16px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    & > .drag {
      display: flex;
      align-items: center;
      padding-left: 8px;

      & > .dragIcon {
        width: 16px;
        height: 16px;
      }
    }

    & > .content {
      display: flex;
      width: 100%;
      padding: 16px;

      & > .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;

        & > .inputRow {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 8px 16px 8px 0;

          & > .label {
            margin-right: 8px;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      & > .settings {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 64px;

        & > .switch {
          margin-bottom: 8px;
        }

        & > .deleteIcon {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }
    }
  }
}
