.card {

  & > .title {
    margin-bottom: 16px;
  }

  & > .body {
    background-color: #fff;
    padding: 32px;
    border-radius: 10px;
    margin-bottom: 32px;
    box-shadow: var(--box-shadow);
  }
  
}