.textareaWrapper {
  margin-bottom: 16px;

  & > .textarea {
    width: 100%;
    min-height: 100px;
    background: #efefef;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 16px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid #efefef;

    &.error {
      border-color: var(--red);
    }

    &:focus {
      border-color: #0e78d9;
    }
  }

  & > .error {
    margin-top: 3px;
    font-weight: 600;
    font-size: 14px;
    color: var(--red);
  }
}
